In [29]:
import pandas as pd
import numpy as np
import country_converter as coco
import re
import pandas_profiling as pp
import pymysql
from sqlalchemy import create_engine
import getpass
import math
import seaborn as sns
import matplotlib
%matplotlib notebook
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE
from sklearn.metrics import r2_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

In [30]:
pd.set_option('display.max_rows', 2000)
pd.set_option('display.max_columns', 2000)

In [31]:
password = getpass.getpass()

········

### Importing data from SQL

In [32]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/p5'
engine = create_engine(connection_string)

In [33]:
query = '''SELECT i.continent, i.region, p.iso3, i.country_name, i.indicator_id, i.value, p.democ, p.autoc, p.polity, id.indicator_name
FROM in17 i
    LEFT JOIN p5_score p
        ON i.country_name = p.country
    JOIN indicator id
        USING (indicator_id)'''

data = pd.read_sql_query(query, engine)
data.head()

,continent,region,iso3,country_name,indicator_id,value,democ,autoc,polity,indicator_name
0,Africa,Eastern Africa,BDI,Burundi,1,0.0,2.0,3.0,-1.0,European Union Membership (True/False)
1,Africa,Eastern Africa,BDI,Burundi,2,1.0,2.0,3.0,-1.0,United Nations Membership (True/False)
2,Africa,Eastern Africa,BDI,Burundi,3,0.0,2.0,3.0,-1.0,OECD Membership (True/False)
3,Africa,Eastern Africa,BDI,Burundi,21806,439.3,2.0,3.0,-1.0,Refugees by country of origin (thousands)
4,Africa,Eastern Africa,BDI,Burundi,23806,9.3,2.0,3.0,-1.0,Population with at least some secondary educat...

### Getting information to fit the model

In [34]:
data2 = data.dropna(axis = 0)

In [35]:
p5 = data2[['country_name', 'value', 'polity', 'region', 'indicator_id']].copy()

In [36]:
p5['indicator_id'] = p5['indicator_id'].astype('str')

In [37]:
p5p = p5.pivot(index = ['country_name', 'region', 'polity'], columns='indicator_id', values = 'value').reset_index().copy()

In [40]:
p5p.isna().sum().sort_values(ascending = False)

indicator_id
167506          119
177006          101
176906          101
176806          101
181306           98
176606           94
175006           92
178106           83
167106           81
39006            74
167406           71
182106           69
45806            68
97106            68
38406            67
38506            67
183406           67
142506           67
117806           67
117906           67
118006           67
38606            67
102006           67
101006           67
175906           66
174206           59
147906           59
181406           53
175606           52
179706           51
170106           47
98306            46
52306            45
149206           44
99106            44
101406           42
175206           42
147206           40
153706           38
58006            37
183206           36
179406           34
174306           31
63406            30
175506           27
133006           25
46106            24
46206            24
135106           23
135006           23
138806           23
73506            23
67106            23
135206           23
101706           22
63306            22
71606            22
177706           22
181206           22
164406           20
23906            16
24006            16
68606            16
111306           16
181106           15
123806           14
23806            14
71406            13
63206            13
52606            13
175706           13
101606           13
127606           13
137006           12
137906           12
136906           12
111106           11
65606             9
61006             9
128106            8
24206             8
24106             8
123406            7
123306            7
136706            6
143306            6
181806            5
128306            4
133206            4
178306            4
174406            4
57906             4
57806             4
164206            4
53506             3
123606            2
43606             2
103706            2
103606            2
123506            2
146206            2
137506            2
103006            2
141706            2
149406            1
181706            1
177106            1
100806            1
69706             1
120606            0
polity            0
1                 0
57206             0
57506             0
89006             0
71506             0
64406             0
101806            0
64306             0
110906            0
63106             0
110806            0
69206             0
103206            0
48806             0
49006             0
169806            0
48706             0
47906             0
169706            0
175106            0
163906            0
150706            0
region            0
150606            0
148306            0
148206            0
177206            0
140606            0
181606            0
182206            0
132806            0
132706            0
2                 0
21806             0
27706             0
3                 0
31706             0
36806             0
43006             0
44206             0
45106             0
122006            0
46006             0
121206            0
121106            0
country_name      0
dtype: int64

In [54]:
nans = p5p.columns[p5p.isna().any()].tolist()
len(nans)

109

In [42]:
num = p5p.select_dtypes(np.number).dropna(axis = 1)
num['167506'] = p5p['167506']
id_with_num = num[num['167506'].notna()]
X_id = id_with_num.drop(['167506'],axis=1)
y_id = id_with_num['167506']
X_normalized_id = pd.DataFrame(MinMaxScaler().fit_transform(X_id), columns=X_id.columns)
LR = LinearRegression()
LR.fit(X_normalized_id, y_id)
X_all = num.drop(['167506'],axis=1)
X_normalized_all = pd.DataFrame(MinMaxScaler().fit_transform(X_all), columns=X_all.columns)
y_all = num['167506']
predicted_id = pd.Series(LR.predict(X_normalized_all),name='predicted_id')
data3 = pd.concat([p5p,predicted_id],axis=1)
data3['final_id'] =  np.where(data3['167506'].isna(), data3['predicted_id'], data3['167506'])
data3.drop(['167506', 'predicted_id'], axis = 1, inplace = True)

### Cleaning NaNs

In [43]:
data3.dropna(axis = 1, inplace = True)

### Building the model

In [55]:
X = data3.drop(['polity', 'country_name'],axis=1)
y = data3['polity']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)
numericals_train = X_train.select_dtypes(np.number)
numericals_test = X_test.select_dtypes(np.number)

categoricals_train = X_train.select_dtypes(object)
categoricals_test = X_test.select_dtypes(object)

transformer = StandardScaler().fit(numericals_train)
numericals_train_standardized = transformer.transform(numericals_train)
numericals_test_standardized = transformer.transform(numericals_test)

encoder = OneHotEncoder(handle_unknown='error', drop='first').fit(categoricals_train)
categoricals_train_encoded = encoder.transform(categoricals_train).toarray()
categoricals_test_encoded = encoder.transform(categoricals_test).toarray()

X_train = np.concatenate((numericals_train_standardized,categoricals_train_encoded),axis=1)
X_test = np.concatenate((numericals_test_standardized,categoricals_test_encoded),axis=1)

LR = LogisticRegression(random_state=42, solver='saga', max_iter = 10000)
LR.fit(X_train, y_train)

print('LR score: ', LR.score(X_test, y_test))

pred = LR.predict(X_test)

KNN = KNeighborsRegressor(n_neighbors=5)
KNN.fit(X_train, y_train)

print('KNN score: ', KNN.score(X_test, y_test))

ValueError: Found unknown categories ['Melanesia'] in column 0 during transform

In [ ]:
num = data3.select_dtypes(np.number).dropna(axis = 1)
num['177006'] = data3['177006']
id_with_num = num[num['177006'].notna()]
X_id = id_with_num.drop(['177006'],axis=1)
y_id = id_with_num['177006']
X_normalized_id = pd.DataFrame(MinMaxScaler().fit_transform(X_id), columns=X_id.columns)
LR = LinearRegression()
LR.fit(X_normalized_id, y_id)
X_all = num.drop(['177006'],axis=1)
X_normalized_all = pd.DataFrame(MinMaxScaler().fit_transform(X_all), columns=X_all.columns)
y_all = num['177006']
holi = pd.Series(LR.predict(X_normalized_all),name='predicted_' + '177006')
data3 = pd.concat([data3, holi],axis=1)
data3['final_' + '177006'] =  np.where(data3['177006'].isna(), data3['predicted_' + '177006'], data3['177006'])
data3.drop(['177006', 'predicted_' + '177006'], axis = 1, inplace = True)